/*Black Bar*/
.black-bar-background {
    width: 100%;
    height: min(max(50px, 5.6vw), 75px);
    background: black;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;/* ao hover categories-list ele escurece somente o conteudo ao inves desta estrutura*/
}
.black-bar {
    position: relative;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    display: flex;
}
.terms {
    width: min(max(260px, 53vw), 608px);
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.text {
    color: white;
    font-size: min(max(8px, 1.6vw), 17px);
    font-family: Calibri, sans-serif;
    word-wrap: break-word;
    text-decoration: none;
    transition: color 0.3s ease;
}
.text:hover { 
    color: #cfcdcd; 
}
.separator {
    height: min(max(8px, 1.6vw), 17px);
    border-radius: 12px;
}
.cards {
    width: min(max(80px, 14.6vw), 200px);
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.cards svg {
    width: min(max(16px, 2.7vw), 36px);
    height: min(max(16px, 2.7vw), 36px);
}
.social {
    width: min(max(70px, 12.8vw), 175px);
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.social svg {
    cursor: pointer;
    fill: white;
    width: min(max(14px, 2.7vw), 30px);
    height: min(max(14px, 2.7vw), 30px)
}