@media (max-width: 500px) {
    .terms-text-responsive {
        font-size: 7px;
    }
    .terms-responsive {
        width: 240px;
    }
    .cards-svg-responsive {
        height: 14px;
        width: 14px;
    }
    .cards-responsive {
        width: 70px;
    }
    .social-svg-responsive {
        height: 12px;
        width: 12px;
    }
    .social-responsive {
        width: 60px;
    }
    .black-bar-responsive {
        height: 40px;
    }
}
@media (max-width: 450px) {
    .terms-hr-responsive {
        height: 6px;
    }
    .terms-text-responsive {
        font-size: 6px;
    }
    .terms-responsive {
        width: 200px;
    }
}
@media (max-width: 400px) {
    .cards-svg-responsive {
        height: 12px;
        width: 12px;
    }
    .cards-responsive {
        width: 60px;
    }
    .social-svg-responsive {
        height: 10px;
        width: 10px;
    }
    .social-responsive {
        width: 50px;
    }
    .terms-text-responsive {
        font-size: 5px;
    }
    .terms-responsive {
        width: 175px;
    }
    .black-bar-responsive {
        height: 30px;
    }

}
@media (max-width: 350px) { 
    .cards-svg-responsive {
        height: 10px;
        width: 10px;
    }
    .cards-responsive {
        width: 50px;
    }
    .social-svg-responsive {
        height: 8px;
        width: 8px;
    }
    .social-responsive {
        width: 40px;
    }
    .terms-text-responsive {
        font-size: 4px;
    }
    .terms-hr-responsive {
        height: 4px;
    }
    .terms-responsive {
        width: 150px;
    }
    .black-bar-responsive {
        height: 25px;
    }
}