@media (max-width: 500px) {
    .contacts-logo-responsive {
        font-size: 26px;
    }
    .links-title-responsive {
        font-size: 11px;
    }
    .links-item-responsive {
        font-size: 8px;
    }
    .contacts-p-responsive {
        width: 115px;
        font-size: 6px;
    }
    .contacts-svg-responsive {
        height: 14px;
        width: 14px;
    }
    .footer-responsive {
        bottom: 42px;
        height: 175px;
    }
}
@media (max-width: 410px) {
    .contacts-logo-responsive {
        font-size: 24px;
    }
    .links-title-responsive {
        font-size: 9px;
    }
    .links-item-responsive {
        font-size: 6px;
    }
    .contacts-p-responsive {
        width: 102px;
    }
    .footer-responsive {
        height: 150px;
    }
}
@media (max-width: 350px) {
    .contacts-logo-responsive {
        font-size: 22px;
    }
    .contacts-p-responsive {
        width: 88px;
        font-size: 5px;
    }
    .links-item-responsive {
        font-size: 5px;
    }
    .links-title-responsive {
        font-size: 8px;
    }
    .contacts-svg-responsive {
        height: 12px;
        width: 12px;
    }    
    .footer-responsive {
        height: 135px;
    }

}