body.modal-open {
    overflow: hidden; /* Impede a rolagem do fundo */
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.493); /* Aumenta a claridade do fundo */
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}
.modal-overlay.show {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 400px) {
    .modal-content-responsive {
        width: 225px;
    }
    .h2-modal-responsive {
        font-size: 16px;
    }
    .modal-label-responsive {
        font-size: 14px;
    }
    .close-modal-responsive {
        height: 18px;
        width: 18px;
    }
    .modal-input-responsive {
        height: 20px;
    }
    .Modal-form-responsive {
        margin-top: 6px;
        height: 225px;
    }
    .form-submit-responsive {
        height: 32px;
        font-size: 12px;
    }
    .OR-responsive {
        font-size: 8px;
    }
    .g-f-svg-responsive {
        height: 14px;
        width: 14px;
    }
    .g-f-text-responsive {
        font-size: 8px;
    }
    .haveAccount-text-responsive {
        font-size: 12px;
    }
    .haveAccount-btn-responsive {
        font-size: 15px
    }
}
@media (max-width: 350px) {
    .modal-content-responsive {
        width: 200px;
    }
    .h2-modal-responsive {
        font-size: 14px;
    }
    .modal-label-responsive {
        font-size: 12px;
    }
    .close-modal-responsive {
        height: 16px;
        width: 16px;
    }
    .modal-input-responsive {
        height: 18px;
    }
    .Modal-form-responsive {
        margin-top: 4px;
        height: 200px;
    }
    .form-submit-responsive {
        height: 30px;
        font-size: 10px;
    }
    .OR-responsive {
        font-size: 6px;
    }
    .google-facebook-responsive {
        height: 22px;
    }
    .g-f-svg-responsive {
        height: 12px;
        width: 12px;
    }
    .g-f-text-responsive {
        font-size: 6px;
    }
    .haveAccount-responsive {
        margin-top: 4px;
    }
    .haveAccount-text-responsive {
        font-size: 10px;
    }
    .haveAccount-btn-responsive {
        font-size: 13px;
    }
}
