body.modal-open {
    overflow: hidden; /* Impede a rolagem do fundo */
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.493); /* Aumenta a claridade do fundo */
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}
.modal-overlay.show {
    visibility: visible;
    opacity: 1;
}

.close-modal {  
    fill: white;
    transition: fill 0.3s ease-in-out;
}
.close-modal:hover {
    fill: rgb(185, 185, 185);
}



.Modal_Inputs {
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    display: flex;
    width: 100%;
    gap: calc(6px + (10 - 6) * ((100vw - 500px) / (1370 - 500)));
}
.Modal_Inputs div {
    width: 100%;
    justify-content: left;
    flex-direction: column;
    display: flex;
    gap: 2px;
}
.Modal_Inputs label {
    color: white;
    font-family: Calibri, sans-serif;
    font-size: calc(16px + (20 - 16) * ((100vw - 500px) / (1370 - 500)));
}
.Modal_Inputs input {
    width: 100%;
    border-radius: 4px;
    height: calc(22px + (26 - 22) * ((100vw - 500px) / (1370 - 500)));
    border: none;
    padding-left: 10px;
    font-size: calc(12px + (14 - 12) * ((100vw - 500px) / (1370 - 500)));
    outline: none; 
}

.Submit_button {
width: 100%;
height: calc(35px + (40 - 35) * ((100vw - 500px) / (1370 - 500)));
background-color: rgb(0, 59, 197);
align-items: center;
font-family: Calibri, sans-serif;
font-size: calc(15px + (18 - 15) * ((100vw - 500px) / (1370 - 500)));
color: white;
border-radius: 6px;
border-width: 1px; 
border-style: solid; 
cursor: pointer;
transition: background-color 0.3s ease-in-out;
}
.Submit_button:hover {
background-color: rgb(2, 69, 226);
}

.Separator_OR {
width: 100%;
display: flex;
align-items: center;
justify-content: center; /* Centraliza os elementos */
gap: 32px; /* Espaçamento entre os elementos */
}
.Separator_OR hr {
flex: 1; /* Faz as linhas ocuparem o máximo de espaço possível */
height: 1px;
border: none;
background-color: white; /* Ajuste a cor conforme necessário */
border-radius: 12px;
}
.Separator_OR p {
font-family: Calibri, sans-serif;
font-size: calc(10px + (14 - 10) * ((100vw - 500px) / (1370 - 500)));
color: white;
white-space: nowrap; /* Evita quebra de linha */
}

.google_and_facebook {
width: 100%;
display: flex;
justify-content: space-between;
cursor: pointer;
}
.google_and_facebook div {
width: 42%;
background-color: white ;
border-color: #000000;
border-radius: 4px;
border-width: 1px; 
border-style: solid; 
height: calc(30px + (34 - 30) * ((100vw - 500px) / (1370 - 500)));

align-items: center;
display: flex;
justify-content: center;
gap: 3px;
}
.google_and_facebook svg {
width: calc(16px + (20 - 16) * ((100vw - 500px) / (1370 - 500)));
height: calc(16px + (20 - 16) * ((100vw - 500px) / (1370 - 500)));
fill: black;
}
.google_and_facebook p {
font-size: calc(12px + (14 - 12) * ((100vw - 500px) / (1370 - 500)));
}

.haveAccount {
margin-top: calc(5px + (10 - 5) * ((100vw - 500px) / (1370 - 500)));
width: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 6px;
}
.haveAccount p {
color: white;
font-family: Calibri, sans-serif;
font-size: calc(14px + (18 - 14) * ((100vw - 500px) / (1370 - 500)));
}
.haveAccount button {
background: none;
border: none;
color: rgba(0, 187, 255, 1);
font-family: Calibri, sans-serif;
font-size: calc(17px + (21 - 17) * ((100vw - 500px) / (1370 - 500)));
cursor: pointer;
}
    