@layer utilities {
    .search-container-responsive {
        @apply w-[200px] h-[25px] px-[10px] 
               sm:w-[250px] sm:h-[25px] 
               md:w-[325px] md:h-[30px] md:px-[12px] 
               lg:w-[450px] lg:h-[35px] 
               xl:w-[550px] xl:h-[40px] xl:px-[15px] ;
    }
    .logo-responsive {
        @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
    }
}

