@media (max-width: 500px) {
    .sm-text-sm {
        font-size: 12px; 
    }
    .search-container-responsive {
        width: 160px;
        height: 20px;
        padding-inline: 8px;
    }
    .input-responsive {
        font-size: 10px;
    }
    .search-icon-responsive {
        width: 18px;
        height: 18px;
    }
    .icon-responsive {
        width: 18px;
        height: 18px;
    }
    .navbar-icons-responsive {
        width: 75px;
    }
}
@media (max-width: 400px) {
    .search-container-responsive {
        width: 130px;
        height: 18px;
        padding-inline: 6px;
    }
    .input-responsive {
        font-size: 9px;
    }
    .icon-responsive {
        width: 16px;
        height: 16px;
    }
    .navbar-icons-responsive {
        width: 64px;
    }
    /* tooltip */
    .tooltip_account {
        top: 130%;
        padding: 2px;
    }
    .tooltip_account button {
        font-size: 6px;
    }
    .separator_tooltip {
        transform: scaleX(0.3);
    }
}
@media (max-width: 350px) {
    .sm-text-sm {
        font-size: 10px; 
    }
    .search-container-responsive {
        width: 110px;
        height: 16px;
    }
    .input-responsive {
        font-size: 8px;
    }
    .icon-responsive {
        width: 14px;
        height: 14px;
    }
    .search-icon-responsive {
        width: 16px;
        height: 16px;
    }
    
}

.icon {
    fill: #ffffff;
    transition: fill 0.3s ease;
}
.icon:hover {
    fill: #BFBFBF; 
    cursor: pointer; 
}