{{!-- Success flash message --}}
{{#if successMsg}}
    {{#each successMsg}}
        <p class="rounded-lg font-medium shadow-md bg-green-500 border-green-700 text-white transition-all duration-300 ease-in-out text-center fixed top-[50px] left-1/2 transform -translate-x-1/2 z-50 msg-responsive">
            {{this}} 
        </p>
    {{/each}}
{{/if}}

{{!-- Error flash message --}}
{{#if errorMsg}}
    {{#each errorMsg}}
        <p class="rounded-lg font-medium shadow-md bg-red-700 text-white border-gray-600 transition-all duration-300 ease-in-out text-center fixed top-[50px] left-1/2 transform -translate-x-1/2 z-50 msg-responsive">
            {{this}}
        </p>
    {{/each}}
{{/if}}
