<style>
    .small-navbar {
        font-size: min(max(14px, 2.3vw), 28px);
        padding-right: min(100px, 7.5vw); 
        padding-left: min(100px, 7.5vw); 
        justify-content: space-between; /* distribui os itens igualmente de acordo com o tamanho do container */
        background: #FAFAFA;
        font-family: Calibri;
        align-items: center;
        white-space: nowrap;    
        font-weight: 400;
        display: flex;
        height: auto;
        width: 100%;
    }
    .small-navbar:hover{
        color: rgba(0, 0, 0, 0.70);
    }
    .small-navbar a {
        transition: color 0.2s ease-in-out;
        text-decoration: none;
        color: black;
    }
    .small-navbar a:hover {
        color: rgba(0, 0, 0, 0.70);
    }
    .categories-list {
        transition: color 0.2s ease-in-out;
        align-items: center;
        cursor: pointer;    
        display: flex;
        gap: 3px;
    }
    .arrow-down {
        transition: transform 0.2s ease-in-out;
        height: min(max(14px, 2.3vw), 30px);
        width: min(max(14px, 2.3vw), 30px);
        opacity: 0.7;
    }
    .categories-list:hover .arrow-down {
        transform: rotate(180deg);
    }
</style>

<nav class="small-navbar">
    <div class="categories-list"> 
        Categories <svg xmlns="http://www.w3.org/2000/svg" class="arrow-down" height="48px" viewBox="0 -960 960 960" width="48px" fill="#000000"><path d="M480-344 240-584l43-43 197 197 197-197 43 43-240 240Z"/></svg>
    </div>
        <a href="/">Mobile & Accessories</a>
        <a href="/">Gaming</a>
        <a href="/">Audio</a>
        <a href="/">Computers</a>
</nav>
