@media (max-width: 350px) {
    .tooltip-a-responsive {
        font-size: 6px;
    }
    .tooltip-categories-responsive {
        gap: 2px;
    }
}

.categories-list:hover .arrow-down-responsive, .rotated{
    transform: rotate(180deg);
}
.categories-list:hover .tooltip-categories-responsive {
    opacity: 100;
    visibility: visible;
}