.tooltip_categories {   
    gap: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    padding: min(max(4px, 0.8vw), 10px); 
    z-index: 10; /* valor para sobreposição */
    top: 104%;
    left: 6%; /* Centraliza horizontalmente em relação ao ícone */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.categories-list:hover .tooltip_categories, .show_tooltip {
    opacity: 100;
    visibility: visible;
}
.tooltip_categories a { /* altere isso caso altere o html de .categories a */
    font-size: min(max(8px, 1.8vw), 18px) !important;
    color: black; 
    transition: color 0.2s ease-in-out;
}
.tooltip_categories a:hover { /* altere isso caso altere o html de .categories a */
    color: rgba(0, 0, 0, 0.70);
}
.separator_tooltip_categories {
    width: 100%;
    outline: 0px rgba(0, 0, 0, 0.6) solid;
    border-radius: 12px;
    margin: 0px;
}